body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-weight: bold;
}

.highlight {
    color: rgb(211, 214, 64);
    background: yellow;
}